body {
    display: grid;
    place-items: center;
    font-family: 'Arial';
}
.form {
    border: 1px solid lightgray;
    padding: 1em;
    margin: 1em;
}
.form .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}
.wrapper {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;
}
.cell {
    width: 6em;
    height: 6em;
    border: 1px solid black;
}
.form {
    width: 16em;
    display: flex;
    flex-direction: column;
}
input {
    line-height: 1.5rem;
}
button {
    padding: 0.5em;
}
.game-buttons {
    display: flex;
    gap: 1em;
}
.restart-btn {
    padding: 0.5em;
    margin-block: 1em;
}
.green {
    background: green;
}
.orange {
    background-color: orange;
}
